.Intro{
    background-color:  rgb(119, 118, 118);
    border-left: 1S5px white;
    padding: 30px;
    margin: 20px;
    font-family: Arial, Verdana, sans-serif;
}

.Hobbies{
    background-color:  rgb(119, 118, 118);
    border-left: 15px white;
    padding: 30px;
    margin: 20px;
    font-family: Arial, Verdana, sans-serif;
}

.Experience{
    background-color:  rgb(119, 118, 118);
    border-left: 15px white;
    padding: 30px;
    margin: 20px;
    font-family: Arial, Verdana, sans-serif;
}

.Skills{
    background-color:  rgb(119, 118, 118);
    border-left: 15px white;
    padding: 30px;
    margin: 20px;
    font-family: Arial, Verdana, sans-serif;
}

.ContactMe{
    border-left: 15px white;
    margin: 20px;
    font-family: Arial, Verdana, sans-serif;
}

.ContactDetails{
    background-color: white;
    border-left: 15px white;
    padding: 30px;
    margin: 20px;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}

.Contact{
    background-color: white;
    border-left: 15px white;
    padding: 30px;
    margin: 20px;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}

hr{
    border-style: none ;
    border-top-style: none;
    border-color: rgb(119, 118, 118);
    border-width: 10px;
    width: 100%;
    font-family: Arial, Verdana, sans-serif;
}

